In [1]:
import pandas as pd
import numpy as np

from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

import matplotlib.pyplot as plt
%matplotlib inline

/Users/matt/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('clean_data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 15 columns):
age               30161 non-null int64
workclass         30161 non-null object
fnlwgt            30161 non-null int64
education         30161 non-null object
education-num     30161 non-null int64
marital-status    30161 non-null object
occupation        30161 non-null object
relationship      30161 non-null object
race              30161 non-null object
sex               30161 non-null object
capital-gain      30161 non-null int64
capital-loss      30161 non-null int64
hours-per-week    30161 non-null int64
native-country    30161 non-null object
target            30161 non-null int64
dtypes: int64(7), object(8)
memory usage: 3.5+ MB

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,target
count,30161.000000,3.016100e+04,30161.000000,30161.000000,30161.000000,30161.000000,30161.000000
mean,38.437883,1.897976e+05,10.121216,1091.971984,88.375419,40.931269,0.248931
std,13.134882,1.056527e+05,2.549983,7406.466659,404.304753,11.980182,0.432401
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.176280e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.784290e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,47.000000,2.376300e+05,13.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [12]:
work = pd.get_dummies(df['workclass'],drop_first=True)
education = pd.get_dummies(df['education'],drop_first=True)
marital = pd.get_dummies(df['marital-status'],drop_first=True)
occupation = pd.get_dummies(df['occupation'],drop_first=True) 
relation = pd.get_dummies(df['relationship'],drop_first=True)
race = pd.get_dummies(df['race'],drop_first=True)
sex = pd.get_dummies(df['sex'],drop_first=True)

In [13]:
new_data = pd.concat([df, work, education, marital, occupation, relation, race, sex], axis = 1)

In [16]:
cols = df.columns
num_cols = df._get_numeric_data().columns
cat_cols = list(set(cols) - set(num_cols))

DT_data = new_data.drop(cat_cols, axis=1)

In [17]:
DT_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 57 columns):
age                      30161 non-null int64
fnlwgt                   30161 non-null int64
education-num            30161 non-null int64
capital-gain             30161 non-null int64
capital-loss             30161 non-null int64
hours-per-week           30161 non-null int64
target                   30161 non-null int64
Local-gov                30161 non-null uint8
Private                  30161 non-null uint8
Self-emp-inc             30161 non-null uint8
Self-emp-not-inc         30161 non-null uint8
State-gov                30161 non-null uint8
Without-pay              30161 non-null uint8
11th                     30161 non-null uint8
12th                     30161 non-null uint8
1st-4th                  30161 non-null uint8
5th-6th                  30161 non-null uint8
7th-8th                  30161 non-null uint8
9th                      30161 non-null uint8
Assoc-acdm               30161 non-null uint8
Assoc-voc                30161 non-null uint8
Bachelors                30161 non-null uint8
Doctorate                30161 non-null uint8
HS-grad                  30161 non-null uint8
Masters                  30161 non-null uint8
Preschool                30161 non-null uint8
Prof-school              30161 non-null uint8
Some-college             30161 non-null uint8
Married-AF-spouse        30161 non-null uint8
Married-civ-spouse       30161 non-null uint8
Married-spouse-absent    30161 non-null uint8
Never-married            30161 non-null uint8
Separated                30161 non-null uint8
Widowed                  30161 non-null uint8
Armed-Forces             30161 non-null uint8
Craft-repair             30161 non-null uint8
Exec-managerial          30161 non-null uint8
Farming-fishing          30161 non-null uint8
Handlers-cleaners        30161 non-null uint8
Machine-op-inspct        30161 non-null uint8
Other-service            30161 non-null uint8
Priv-house-serv          30161 non-null uint8
Prof-specialty           30161 non-null uint8
Protective-serv          30161 non-null uint8
Sales                    30161 non-null uint8
Tech-support             30161 non-null uint8
Transport-moving         30161 non-null uint8
Not-in-family            30161 non-null uint8
Other-relative           30161 non-null uint8
Own-child                30161 non-null uint8
Unmarried                30161 non-null uint8
Wife                     30161 non-null uint8
Asian-Pac-Islander       30161 non-null uint8
Black                    30161 non-null uint8
Other                    30161 non-null uint8
White                    30161 non-null uint8
Male                     30161 non-null uint8
dtypes: int64(7), uint8(50)
memory usage: 3.0 MB

In [19]:
X = DT_data.drop('target', axis=1)
y = DT_data['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
DT_classifier = DecisionTreeClassifier()

In [23]:
DT_classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
pred = DT_classifier.predict(X_test)

In [25]:
print(confusion_matrix(y_test, pred))

[[5914  907]
 [ 839 1389]]

In [26]:
print(classification_report(y_test, pred))

             precision    recall  f1-score   support

          0       0.88      0.87      0.87      6821
          1       0.60      0.62      0.61      2228

avg / total       0.81      0.81      0.81      9049

The result is slightly worse than KNN (83%)